html {
    font-size: 14px;
}

body {
    background-color: seashell;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

p {
    font-size: 1.5rem;
}
/** HEADER SCTION **/

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 85px;
    background-color: blue;
    align-items: center;
    z-index: 10;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav li {
    margin-right: 5%;
   
}
nav li a {
    color: white;
    text-decoration: underline;
    font-size: 1.5rem;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 1%;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo-text {
    color: white;
    font-size: 3rem;
}

/** ABOUT ME **/

main {
    top: 85px;
    position: absolute;
    width: 100%;
    text-align: center;
}

main h1 {
    margin: 30px 0;
}

.about-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: justify;
}

.about {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
}

.about h2 {
    text-align: center;
}

.about-text {
    width: 65%;
    height: auto;
    margin: 1rem 1%;
}

.about-photo {
    width: 35%;
    height: auto;
    margin: 1rem 1%;
}


/* MY PROJECTS */

#My-projects {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: justify;
    margin: 30px 0;
}

.projects-container {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.project-list {
    width: 100%;
}

.project-list li {
    font-size: 1.5rem;
    margin: 1.5rem 1%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


.arrow {
    width: 15px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
}

.hidden-project {
    width: 100%;
    height: auto;
    
}

.project-screenshot {
    width: 100%;
}

.project-technologies {
    font-size: 2rem;
}

.project-technologies i {
    margin: 0 1%;
}

/* My Techs */

#My-techs {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: justify;
    margin: 30px 0;
}

.techs-container {
    width: 90%;
    text-align: center;
}

.techs-container h2 {
    margin: 30px 0;
}

.techs {
    font-size: 2.5rem;
    color: blue;
    margin: 0 1%;
    text-align: center;
    margin: 30px 0;
}

.techs a {
    color: blue;
    margin: 30px 1%;
}